@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SolidenTrialRegular";
  src: url("./assets/fonts/SolidenTrial-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "SolidenTrialExpanded";
  src: url("./assets/fonts/SolidenTrial-Expanded.ttf") format("truetype");
}

@font-face {
  font-family: "SolidenTrialBoldExpanded";
  src: url("./assets/fonts/SolidenTrial-BoldExpanded.ttf") format("truetype");
}